body {
    display: flex;
    flex-direction: column;
}

div{
    border: solid darkolivegreen;
    background-color: lightgoldenrodyellow;
}

.titleContainer, .gameContainer{
    border: solid lightcoral;
    background-color: lightgreen;
    display: flex;
}

.titleContainer{
    justify-content: center;
}

.gameContainer{
    flex-direction: column;
    align-items: center;
}

.interactionContainer{
    border: solid purple;
    background-color: lightskyblue;
    display: flex;
    width: 75%;
}

.interactionCol{
    display: flex;
    flex-direction: column;
    border: solid darkslategray;
    background-color: lightsalmon;
}

/* ---------- SPACING ---------- */

.gameContainer{
    padding-top: 50px;
}

.playerCol, .compCol{
    width: 45%;
}
.vsCol{
    width: 10%;
}

.moveButton{
    width: 75%;
    height: 75px;
    margin: 5px;
}

.playerMoveContainer{
    padding: 10px;
}

/* ---------- Alignment ---------- */
.playerMoveContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerText{
    text-align: center;
}

.vsCol{
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreContainer{
    display: flex;
    justify-content: space-around
}


/* ---------- Appearance ---------- */
.moveButton{
    border-radius: 10px;
}